<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="icon" href=" /img/icon1.png">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>this site was created by Ishan bajaj, it uses data from mapbox.com and positionstack.com</p>
    <div class="portrait-crop">
<img class="portrait" src="./img/ishan.jpeg">
</div>
</div>
{{>footer}}
    
</body>
</html>